
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <header class= ' container site-header'>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
            <a href="/" class="navbar-brand">Pitch APP</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                </div>
                <!-- Navbar Right Side -->
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('main.profile',uname=current_user.username)}}" style="margin-right: 20px;color: white;">Profile</a></li>
                    <li><a style="color:#f6d55c;font-weight: bold;" href="{{url_for('auth.logout')}}">Sign out</a></li>
                    {% else %}
                    <li><a style="color:white;font-weight: bold;" href="{{url_for('auth.login')}}">Sign in</a></li>
                    {%endif%}
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %} -->
            {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section" style="margin-left: 20px;">
                    <h3>Pitch categories</h3>
                    <p>Select category to view posts:
                        <ul class="list-group">
                            <a style="color: #212529;" href="{{url_for('main.interview_pitches')}}" ><li class="list-group-item list-group-item-light" style="color: #212529;">Interview pitch</li></a>
                            <a  style="color: #212529;"  href="{{url_for('main.product_pitches')}}"><li class="list-group-item list-group-item-light" style="color: #212529;">Product pitch</li></a>
                            <a  style="color: #212529;" href="{{url_for('main.promotion_pitches')}}"><li class="list-group-item list-group-item-light" style="color: #212529;">Promotion pitch</li></a>
                        </ul>
                        <br>
                        <div class="container" style="padding-bottom: 20px;">
                            <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">Create pitch</a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>